

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}" />
</head>

{% include 'polls/header.html' %}
 <div class="container">
  <div class="container-form">
    <form action="{% url 'polls:update_choice_success' question.id choice.id %}" method="POST">
        {% csrf_token %}
        <label for="fname">Choice name</label>
        <input type="text" id="fname" name="choice_text" placeholder=" name.." value="{{choice.choice_text}}">
        <input type="submit" value="Submit">
      </form>
  </div>
 </div>
 {% include 'polls/footer.html' %}
</body>
</html>